In [1]:
# Dependencies
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Import Data File and Read
crime = "Cleaned_Crime_Data.csv"
crime_df = pd.read_csv(crime)

In [3]:
# Drop Indexed Column from Previous Files
del crime_df["Unnamed: 0"]
crime_df

,State,City,Year,Population,Violent Crime,Murder,Rape,Robbery,Assault,Property,Burglary,Larceny,MV Theft,Arson
0,ALABAMA,HUNTSVILLE,2015,190106,723.0,5.0,65.0,173.0,480.0,4121.0,836.0,2903.0,382.0,0.0
1,ALASKA,ANCHORAGE,2015,301239,1615.0,16.0,323.0,271.0,1005.0,5732.0,811.0,4516.0,405.0,63.0
2,ARIZONA,CHANDLER,2015,258875,206.0,0.0,26.0,51.0,129.0,2524.0,384.0,2033.0,107.0,26.0
3,ARIZONA,GILBERT,2015,247324,95.0,2.0,14.0,14.0,65.0,1628.0,253.0,1310.0,65.0,12.0
4,ARIZONA,MESA,2015,471034,1019.0,6.0,142.0,219.0,652.0,5995.0,1041.0,4591.0,363.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1077,WASHINGTON,SPOKANE,2018,217066,791.0,4.0,179.0,105.0,503.0,7371.0,958.0,5616.0,797.0,19.0
1078,WASHINGTON,TACOMA,2018,213504,950.0,7.0,84.0,257.0,602.0,5641.0,963.0,3674.0,1004.0,46.0
1079,WASHINGTON,VANCOUVER,2018,176884,402.0,2.0,87.0,70.0,243.0,2876.0,393.0,1981.0,502.0,20.0
1080,WISCONSIN,GREEN BAY,2018,105331,243.0,1.0,40.0,25.0,177.0,810.0,106.0,657.0,47.0,3.0
1081,WISCONSIN,MADISON,2018,255850,516.0,3.0,55.0,93.0,365.0,2913.0,412.0,2260.0,241.0,5.0

In [4]:
# Change Formatting for Specific Columns
cols = ["Violent Crime", "Murder", "Rape", "Robbery", "Assault", "Property", "Burglary", "Larceny", "MV Theft", "Arson"]

# Format Float Values
crime_df[cols] = crime_df[cols].astype(float)
pd.options.display.float_format = '{:.0f}'.format

In [5]:
crime_df

,State,City,Year,Population,Violent Crime,Murder,Rape,Robbery,Assault,Property,Burglary,Larceny,MV Theft,Arson
0,ALABAMA,HUNTSVILLE,2015,190106,723,5,65,173,480,4121,836,2903,382,0
1,ALASKA,ANCHORAGE,2015,301239,1615,16,323,271,1005,5732,811,4516,405,63
2,ARIZONA,CHANDLER,2015,258875,206,0,26,51,129,2524,384,2033,107,26
3,ARIZONA,GILBERT,2015,247324,95,2,14,14,65,1628,253,1310,65,12
4,ARIZONA,MESA,2015,471034,1019,6,142,219,652,5995,1041,4591,363,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1077,WASHINGTON,SPOKANE,2018,217066,791,4,179,105,503,7371,958,5616,797,19
1078,WASHINGTON,TACOMA,2018,213504,950,7,84,257,602,5641,963,3674,1004,46
1079,WASHINGTON,VANCOUVER,2018,176884,402,2,87,70,243,2876,393,1981,502,20
1080,WISCONSIN,GREEN BAY,2018,105331,243,1,40,25,177,810,106,657,47,3
1081,WISCONSIN,MADISON,2018,255850,516,3,55,93,365,2913,412,2260,241,5

In [6]:
# Specify columns to analyze
cols2 = ["Year", "Population", "Violent Crime", "Murder", "Rape", "Robbery", "Assault", "Property", "Burglary", "Larceny", "MV Theft",
        "Arson"]

# Create copy to not change original df
nat_stats = crime_df.copy()

# Summation for national statistics
year_national = nat_stats.groupby("Year")[cols2].sum()
del year_national["Year"]

year_national

,Population,Violent Crime,Murder,Rape,Robbery,Assault,Property,Burglary,Larceny,MV Theft,Arson
Year,,,,,,,,,,,
2015,82154806,246421,3260,19688,80543,142930,1278070,235646,893047,149377,7893
2016,82154806,261371,3523,20943,83184,153721,1279130,226178,895806,159554,7434
2017,87089545,275136,3955,23730,86416,166470,1345750,232191,943107,173054,8052
2018,87089545,264382,3627,24627,76748,164114,1285536,208459,909777,168176,7233

In [7]:
# Find Murder Capital
m_cap = nat_stats.loc[nat_stats.groupby("Year")["Murder"].max()]
m_cap

,State,City,Year,Population,Violent Crime,Murder,Rape,Robbery,Assault,Property,Burglary,Larceny,MV Theft,Arson
213,TEXAS,BROWNSVILLE,2015,184941,239,1,24,76,138,3700,501,3124,75,9
317,CALIFORNIA,RIALTO,2016,103590,254,2,9,84,159,946,301,290,355,1
331,CALIFORNIA,SANTA ROSA,2016,175738,333,4,48,58,223,1714,298,1192,224,11
253,WASHINGTON,EVERETT6,2015,107633,191,4,19,65,103,3040,477,2156,407,20

In [8]:
# Create copy to not change original df
state_stats = crime_df.copy()

# Summation for state statistics
year_state = state_stats.groupby(["State", "Year"]).sum()

year_state

                 Population  Violent Crime  Murder  Rape  Robbery  Assault  \
State      Year
ALABAMA    2015      190106            723       5    65      173      480
           2016      190106            876      10    80      213      573
           2017      760832           3638      85   202      963     2388
           2018      760832           3610      77   201      806     2526
ALASKA     2015      301239           1615      16   323      271     1005
...                     ...            ...     ...   ...      ...      ...
WASHINGTON 2018     1814022           5146      32   591     1457     3066
WISCONSIN  2015     1054390           5076      78   299     1855     2844
           2016     1054390           5207      60   346     1718     3083
           2017      361181            688       7    78      135      468
           2018      361181            759       4    95      118      542

                 Property  Burglary  Larceny  MV Theft  Arson
State      Year
ALABAMA    2015      4121       836     2903       382      0
           2016      4565       881     3279       405      0
           2017     19164      4223    13031      1910    148
           2018     18497      3796    12657      2044    100
ALASKA     2015      5732       811     4516       405     63
...                   ...       ...      ...       ...    ...
WASHINGTON 2018     45055      7669    31521      5865    165
WISCONSIN  2015     16805      3470    10113      3222    125
           2016     16542      3157    10182      3203    133
           2017      4163       572     3402       189     12
           2018      3723       518     2917       288      8

[180 rows x 11 columns]

In [9]:
# # Specify new variable for calculation
# cols3 = ["Violent Crime", "Murder", "Rape", "Robbery", "Assault", "Property", "Burglary", "Larceny", "MV Theft", "Arson"]

In [10]:
grouped_total = crime_df.copy()
grouped_total["Total"] = ""
grouped_total["Total"] = grouped_total[cols].sum(axis=1)
grouped_total

,State,City,Year,Population,Violent Crime,Murder,Rape,Robbery,Assault,Property,Burglary,Larceny,MV Theft,Arson,Total
0,ALABAMA,HUNTSVILLE,2015,190106,723,5,65,173,480,4121,836,2903,382,0,9688
1,ALASKA,ANCHORAGE,2015,301239,1615,16,323,271,1005,5732,811,4516,405,63,14757
2,ARIZONA,CHANDLER,2015,258875,206,0,26,51,129,2524,384,2033,107,26,5486
3,ARIZONA,GILBERT,2015,247324,95,2,14,14,65,1628,253,1310,65,12,3458
4,ARIZONA,MESA,2015,471034,1019,6,142,219,652,5995,1041,4591,363,40,14068
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1077,WASHINGTON,SPOKANE,2018,217066,791,4,179,105,503,7371,958,5616,797,19,16343
1078,WASHINGTON,TACOMA,2018,213504,950,7,84,257,602,5641,963,3674,1004,46,13228
1079,WASHINGTON,VANCOUVER,2018,176884,402,2,87,70,243,2876,393,1981,502,20,6576
1080,WISCONSIN,GREEN BAY,2018,105331,243,1,40,25,177,810,106,657,47,3,2109
1081,WISCONSIN,MADISON,2018,255850,516,3,55,93,365,2913,412,2260,241,5,6863