In [1]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

In [2]:
# Locate CSV files
# crime_2016 = "2018_crime.csv"
crime_2018_cleaned = "../crime_2018_cleaned.csv"

In [3]:
# Read Files
crime_2018_cleaned = pd.read_csv(crime_2018_cleaned)

#crime18 = pd.read_csv(crime_2018)

In [4]:
# View crime_2016 file
df18 = pd.DataFrame(crime_2018_cleaned)
df18.head()

,State,City,Unnamed: 2,Population1,Violent \ncrime,Murder,Rape2,Robbery,Aggravated \nassault,Property \ncrime,Burglary,Larceny-\ntheft,Motor \nvehicle \ntheft,Arson3
0,ALABAMA,BIRMINGHAM,2017,"212,178","1,833",42.0,92,473,"1,226","6,472","1,293","4,360",819,113.0
1,ALABAMA,BIRMINGHAM,2018,"212,178","1,978",47.0,86,398,"1,447","6,280","1,152","4,233",895,76.0
2,ALABAMA,MOBILE4,2017,"248,431",937,22.0,57,236,622,"6,493","1,509","4,399",585,35.0
3,ALABAMA,MOBILE5,2018,"248,431",820,15.0,73,185,547,"6,027","1,235","4,183",609,24.0
4,ALABAMA,MONTGOMERY,2017,"199,099",656,19.0,35,185,417,"4,246","1,031","2,797",418,NaN

In [5]:
# Rename Columns
df18.columns = ["State", "City", "Year", "Population", "Violent Crime", "Murder", "Rape", "Robbery", "Assault", "Property",
              "Burglary", "Larceny", "MV Theft", "Arson"]

In [9]:
df18.head(5)

,State,City,Year,Population,Violent Crime,Murder,Rape,Robbery,Assault,Property,Burglary,Larceny,MV Theft,Arson
0,ALABAMA,BIRMINGHAM,2017,212178,1833,42.0,92,473,1226,6472,1293,4360,819,113.0
1,ALABAMA,BIRMINGHAM,2018,212178,1978,47.0,86,398,1447,6280,1152,4233,895,76.0
2,ALABAMA,MOBILE4,2017,248431,937,22.0,57,236,622,6493,1509,4399,585,35.0
3,ALABAMA,MOBILE5,2018,248431,820,15.0,73,185,547,6027,1235,4183,609,24.0
4,ALABAMA,MONTGOMERY,2017,199099,656,19.0,35,185,417,4246,1031,2797,418,NaN

In [15]:
df18.value_counts()

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [7]:
#Drop commas from all values
df18 = df18.replace(',','', regex=True)

In [8]:
# Specify Columns to Change
# Change Columns to float

cols = ["Population", "Violent Crime", "Assault", "Property", "Burglary", "Larceny"]
df18[cols] = df18[cols].astype(int)

ValueError: cannot convert float NaN to integer

In [ ]:
df16

In [ ]:
# Create CSV
df18.to_csv("Crime_2018_Clean.csv")